@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

.home-card-title {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.home-card-icon {
  width: 1.333em;
  height: 1.333em;
  object-fit: contain;
  border: 1px solid var(--sl-card-border);
  background-color: var(--sl-card-bg);
  padding: 0.2em;
  border-radius: 0.25rem;
  box-sizing: content-box;
  flex-shrink: 0;
}
